pandas-stubs>=2.2.2.240909
numpy>=1.21.0
scikit-learn>=1.6.0
pandas>=2.1.4
pandas-datareader>=0.10.0
plotly>=5.0.0
pandas-gbq>=0.26.1
nest-asyncio>=1.6.0
flask

# Tested compatible versions
streamlit==1.49.1
numpy==2.0.2
protobuf==4.25.9
hopsworks==5.0.6

deltalake>=1.6.3
